<h1>TO DO APP</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= task.completed ? 'x ' : 'o '%>
      <%= link_to task.title, task_path(task) %>
      <%= link_to "Delete",
        task_path(task),
        method: :delete,
        data: {
          confirm: "Are u sure? Delete #{task.title}?"
        }
      %>
    </li>
  <% end %>
</ul>
<%= link_to "Add a new task", new_task_path %>
